@import "tailwindcss";

@font-face {
  font-family: "Noto Kufi Arabic";
  src: url("../assets/fonts/Noto_Kufi_Arabic/static/NotoKufiArabic-Thin.ttf")
    format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Kufi Arabic";
  src: url("../assets/fonts/Noto_Kufi_Arabic/static/NotoKufiArabic-ExtraLight.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Kufi Arabic";
  src: url("../assets/fonts/Noto_Kufi_Arabic/static/NotoKufiArabic-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Kufi Arabic";
  src: url("../assets/fonts/Noto_Kufi_Arabic/static/NotoKufiArabic-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Kufi Arabic";
  src: url("../assets/fonts/Noto_Kufi_Arabic/static/NotoKufiArabic-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Kufi Arabic";
  src: url("../assets/fonts/Noto_Kufi_Arabic/static/NotoKufiArabic-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Kufi Arabic";
  src: url("../assets/fonts/Noto_Kufi_Arabic/static/NotoKufiArabic-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Kufi Arabic";
  src: url("../assets/fonts/Noto_Kufi_Arabic/static/NotoKufiArabic-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Kufi Arabic";
  src: url("../assets/fonts/Noto_Kufi_Arabic/static/NotoKufiArabic-Black.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  scroll-behavior: smooth;
  font-family:
    "Noto Kufi Arabic",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
}

@theme {
  --color-background: hsl(0 0% 96%);
  --color-foreground: hsl(220 20% 20%);

  --color-primary: hsl(160 50% 45%);
  --color-primary-foreground: hsl(0 0% 100%);

  --color-muted: hsl(220 10% 92%);
  --color-muted-foreground: hsl(220 10% 50%);

  --color-primary-hover: #054239;
  --color-primary-hover-two: #428177;

  --color-secondary: #988561;
  --color-secondary-hover: #b9a779;
  --color-secondary-hover-two: #edebe07e;

  --color-primary-dark: #161616;
  --color-primary-dark-hover: #2d2a3b;
  --color-primary-dark-hover-two: #ffffff;

  --radius-sm: 0.125rem;
  --radius-md: 0.25rem;
  --radius-lg: 0.5rem;

  --leading-sm: 1.25;
  --leading-md: 1.5;
  --leading-lg: 1.75;

  --animate-fade-in: fade-in 2.5s ease-in-out;
}

@keyframes fade-in {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);

  }
  100% {
    transform: scale(1.1);
  }
}

.overlay-black {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 50;
}
